header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 5px 5px 7px black;
    color: aliceblue;
    background: url(../img/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}